#**Aula 5: Leyendo banco de datos**

##**Creando un banco de datos**

In [48]:
#LIBRERIAS PARA UTILIZAR EL BANCO DE DATOS SQL

import sqlalchemy

from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [24]:
#UTILIZAR EL MOTOR DE BANCO DE DATOS INCLUIDO EN GOOGLE COLAB QUE SE EJECUTA EN LA MEMORIA LOCAL

engine = create_engine('sqlite:///:memory:')

Las bases de datos son sistemas que permiten el almacenamiento, organización y recuperación de información de forma estructurada y eficiente. Se utilizan ampliamente en muchas áreas, desde la gestión empresarial hasta la investigación científica. Una base de datos bien diseñada puede mejorar significativamente la eficiencia y precisión de las operaciones de una organización.

Existen bases de datos relacionales y no relacionales. Las bases de datos relacionales representan y almacenan datos en tablas. Las bases de datos no relacionales, también conocidas como bases de datos NoSQL (Not Only SQL - No Sólo SQL), utilizan una variedad de estructuras de datos, como documentos, gráfos o pares llave-valor.

Python ofrece varios paquetes y bibliotecas para trabajar con bases de datos, incluyendo SQLite, MySQL, PostgreSQL, Oracle, MongoDB, entre otros. Uno de los paquetes más comunes utilizados para trabajar con bases de datos relacionales en Python es el paquete sqlite3 que ofrece soporte a bases de datos SQLite. Esta base de datos es liviana e integrada, no requiere un servidor separado para ejecutarse y está instalada de forma nativa en Google Colab.

Para trabajar con esta base de datos, podemos usar SQLAlchemy, una biblioteca de mapeo objeto-relacional (ORM), que permite interactuar con bases de datos relacionales usando código Python. Proporciona una capa de abstracción que permite a los desarrolladores trabajar con objetos Python en lugar de lidiar directamente con las complejidades del lenguaje SQL (Structured Query Language - Lenguaje de consulta estructurado).

Uno de los principales beneficios de utilizar SQLAchemy es la capacidad de crear código más legible y fácil de mantener. Con SQLAlchemy, las operaciones de la base de datos se realizan utilizando métodos en objetos Python, lo que hace que el código sea más claro y menos propenso a errores.

Además, SQLAlchemy ofrece soporte a consultas complejas en bases de datos, lo que permite a los desarrolladores extraer fácilmente información relevante de grandes conjuntos de datos. Esto es especialmente útil en aplicaciones que necesitan manejar grandes cantidades de datos.

Puede encontrar más detalles sobre la biblioteca SQLAchemy en la siguiente
https://www.sqlalchemy.org/

In [25]:
#IMPORTAR ARCHIVO CSV

import pandas as pd

archivo = 'superstore_data.csv'

datos = pd.read_csv(archivo)

datos.head(5)

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [26]:
#CREAR UNA TABLA EN SQLITE Y EXPORTAR LOS REGISTROS DEL CSV

datos.to_sql('clientes', engine, index=False)

2240

In [27]:
# UTILIZAR EL METODO inspect PARA VERIFICAR LAS TABLAS CREADAS

inspector = inspect(engine)

In [28]:
print(inspector.get_table_names())

['clientes']

SQL (Structured Query Language - Lenguaje de consulta estructurado) es un lenguaje de consulta utilizado en bases de datos relacionales para insertar, actualizar, consultar y administrar datos.

Para hacer todo esto, existen cláusulas SQL, que son componentes fundamentales de las sentencias SQL, permitiendo especificar detalles sobre cómo se va a realizar la consulta u operación de la base de datos. Las cláusulas se utilizan para filtrar, ordenar, agrupar y limitar los resultados de la consulta.

Las sentencias SQL pueden estar compuestas por una o más cláusulas que proporcionan información adicional sobre lo que se supone que debe hacer la consulta. Las cláusulas más comunes son:

SELECT: especifica qué columnas deben seleccionarse en la consulta.
FROM: Especifica las tablas de la base de datos que se consultarán.
WHERE: Filtra los resultados de la consulta según una o más condiciones especificadas.

ORDER BY: Ordena los resultados de la consulta en orden ascendente o descendente según una o más columnas.

GROUP BY: agrupa los resultados de la consulta basados en una o más columnas.
LIMIT: limita el número de filas devueltas por los resultados de la consulta.
Tenemos un ejemplo sencillo de sintaxis SQL que utiliza el comando SELECT para consultar datos de una tabla de empleados en una base de datos:


**SELECT nombre, apellido, salario
FROM empleados
WHERE departamento = 'ventas'**

En esta declaración SQL, la cláusula SELECT se utiliza para especificar las columnas que desea consultar de la tabla "empleados", incluyendo "nombre", "apellido" y "salario". La cláusula FROM se utiliza para especificar la tabla que se desea consultar, que en este caso es "empleados".

La cláusula WHERE se utiliza para filtrar los resultados de la consulta según una condición específica. En este ejemplo, la condición es departamento = 'ventas', lo que significa que la consulta solo devolverá empleados que trabajan en el departamento de ventas.

En el próximo vídeo aprenderemos a utilizar algunas de estas cláusulas para realizar las primeras consultas SQL en la tabla que contiene datos de clientes de una institución financiera.

#**Leyendo una consulta sql**

In [29]:
from sqlite3.dbapi2 import connect
#CREAR UNA CONSULTA SQL A LA TABLA CLIENTES

query = 'SELECT * FROM clientes WHERE Marital_Status = "Single"'

In [30]:
#EJECUTAR LA CONEXION A SQLITE Y REALIZAR LA CONSULTA CREADA ANTERIORMENTE

solteros = pd.read_sql(sql=text(query), con = engine.connect())

solteros

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
1,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
2,7348,1958,PhD,Single,71691.0,0,0,3/17/2014,0,336,...,240,32,43,1,4,7,5,2,1,0
3,1473,1960,2n Cycle,Single,47823.0,0,1,7/23/2013,0,53,...,2,1,10,2,2,0,3,8,0,0
4,2795,1958,Master,Single,30523.0,2,1,1/7/2013,0,5,...,0,0,5,1,1,0,2,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,9771,1988,2n Cycle,Single,23331.0,1,0,5/10/2012,97,104,...,24,15,5,6,5,1,5,9,0,0
476,213,1963,PhD,Single,23091.0,1,1,5/28/2014,98,35,...,0,0,2,4,2,1,3,7,0,0
477,9706,1974,PhD,Single,31560.0,1,0,6/24/2013,98,62,...,4,0,7,2,2,1,3,8,0,0
478,4974,1970,Graduation,Single,83273.0,1,2,9/25/2012,98,433,...,16,102,102,10,4,6,9,7,0,0
479,1743,1974,Graduation,Single,69719.0,0,0,5/26/2014,99,273,...,177,14,43,1,2,3,5,1,0,0

In [31]:
#CREAR OTRA TABLA PARA EXPORTAR LOS REGISTROS CONSULTADOS

solteros.to_sql('solteros', con = engine.connect(), index= False)

480

In [32]:
#CONSULTAR LA NUEVA TABLA CREADA CON PANDAS

pd.read_sql_table('solteros', con = engine.connect())

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
1,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
2,7348,1958,PhD,Single,71691.0,0,0,3/17/2014,0,336,...,240,32,43,1,4,7,5,2,1,0
3,1473,1960,2n Cycle,Single,47823.0,0,1,7/23/2013,0,53,...,2,1,10,2,2,0,3,8,0,0
4,2795,1958,Master,Single,30523.0,2,1,1/7/2013,0,5,...,0,0,5,1,1,0,2,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,9771,1988,2n Cycle,Single,23331.0,1,0,5/10/2012,97,104,...,24,15,5,6,5,1,5,9,0,0
476,213,1963,PhD,Single,23091.0,1,1,5/28/2014,98,35,...,0,0,2,4,2,1,3,7,0,0
477,9706,1974,PhD,Single,31560.0,1,0,6/24/2013,98,62,...,4,0,7,2,2,1,3,8,0,0
478,4974,1970,Graduation,Single,83273.0,1,2,9/25/2012,98,433,...,16,102,102,10,4,6,9,7,0,0
479,1743,1974,Graduation,Single,69719.0,0,0,5/26/2014,99,273,...,177,14,43,1,2,3,5,1,0,0

In [33]:
#FILTRAR POR ALGUNAS COLUMNAS

pd.read_sql_table('solteros', con = engine.connect(), columns=['Year_Birth','Education','Dt_Customer'])

     Year_Birth   Education Dt_Customer
0          1961  Graduation   6/15/2014
1          1989  Graduation    8/4/2014
2          1958         PhD   3/17/2014
3          1960    2n Cycle   7/23/2013
4          1958      Master    1/7/2013
..          ...         ...         ...
475        1988    2n Cycle   5/10/2012
476        1963         PhD   5/28/2014
477        1974         PhD   6/24/2013
478        1970  Graduation   9/25/2012
479        1974  Graduation   5/26/2014

[480 rows x 3 columns]

In [34]:
pd.read_sql_table('solteros', con = engine.connect())

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
1,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
2,7348,1958,PhD,Single,71691.0,0,0,3/17/2014,0,336,...,240,32,43,1,4,7,5,2,1,0
3,1473,1960,2n Cycle,Single,47823.0,0,1,7/23/2013,0,53,...,2,1,10,2,2,0,3,8,0,0
4,2795,1958,Master,Single,30523.0,2,1,1/7/2013,0,5,...,0,0,5,1,1,0,2,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,9771,1988,2n Cycle,Single,23331.0,1,0,5/10/2012,97,104,...,24,15,5,6,5,1,5,9,0,0
476,213,1963,PhD,Single,23091.0,1,1,5/28/2014,98,35,...,0,0,2,4,2,1,3,7,0,0
477,9706,1974,PhD,Single,31560.0,1,0,6/24/2013,98,62,...,4,0,7,2,2,1,3,8,0,0
478,4974,1970,Graduation,Single,83273.0,1,2,9/25/2012,98,433,...,16,102,102,10,4,6,9,7,0,0
479,1743,1974,Graduation,Single,69719.0,0,0,5/26/2014,99,273,...,177,14,43,1,2,3,5,1,0,0

#**Actualizar un banco de registros**

In [37]:
#BORRAR UN REGISTRO

from sqlalchemy.exc import SQLAlchemyError

query = 'DELETE FROM solteros WHERE Id = 7348'

try:
  r_set = engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print('#Registros borrados: ', r_set.rowcount)

#Registros borrados:  0

In [39]:
pd.read_sql_table('solteros', con = engine.connect())

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
1,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
2,1473,1960,2n Cycle,Single,47823.0,0,1,7/23/2013,0,53,...,2,1,10,2,2,0,3,8,0,0
3,2795,1958,Master,Single,30523.0,2,1,1/7/2013,0,5,...,0,0,5,1,1,0,2,7,0,0
4,115,1966,Master,Single,43456.0,0,1,3/26/2013,0,275,...,25,7,7,3,5,1,8,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,9771,1988,2n Cycle,Single,23331.0,1,0,5/10/2012,97,104,...,24,15,5,6,5,1,5,9,0,0
475,213,1963,PhD,Single,23091.0,1,1,5/28/2014,98,35,...,0,0,2,4,2,1,3,7,0,0
476,9706,1974,PhD,Single,31560.0,1,0,6/24/2013,98,62,...,4,0,7,2,2,1,3,8,0,0
477,4974,1970,Graduation,Single,83273.0,1,2,9/25/2012,98,433,...,16,102,102,10,4,6,9,7,0,0
478,1743,1974,Graduation,Single,69719.0,0,0,5/26/2014,99,273,...,177,14,43,1,2,3,5,1,0,0

In [40]:
#ACTUALIZAR UN REGISTRO

query = 'UPDATE solteros SET Education="Master" WHERE Id = 5371'

try:
  r_set = engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print('#Registros actualizado: ', r_set.rowcount)

#Registros actualizado:  1

In [41]:
pd.read_sql_table('solteros', con = engine.connect())

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
1,5371,1989,Master,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
2,1473,1960,2n Cycle,Single,47823.0,0,1,7/23/2013,0,53,...,2,1,10,2,2,0,3,8,0,0
3,2795,1958,Master,Single,30523.0,2,1,1/7/2013,0,5,...,0,0,5,1,1,0,2,7,0,0
4,115,1966,Master,Single,43456.0,0,1,3/26/2013,0,275,...,25,7,7,3,5,1,8,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,9771,1988,2n Cycle,Single,23331.0,1,0,5/10/2012,97,104,...,24,15,5,6,5,1,5,9,0,0
475,213,1963,PhD,Single,23091.0,1,1,5/28/2014,98,35,...,0,0,2,4,2,1,3,7,0,0
476,9706,1974,PhD,Single,31560.0,1,0,6/24/2013,98,62,...,4,0,7,2,2,1,3,8,0,0
477,4974,1970,Graduation,Single,83273.0,1,2,9/25/2012,98,433,...,16,102,102,10,4,6,9,7,0,0
478,1743,1974,Graduation,Single,69719.0,0,0,5/26/2014,99,273,...,177,14,43,1,2,3,5,1,0,0

In [47]:
#CONSULTAR TABLAS

inspector = inspect(engine)

print(inspector.get_table_names())

['clientes', 'solteros']